
#contact{
    margin: 5rem 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #020202;
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
}

.contact-form .form-labels{
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    
}

.contact-form .form-labels svg{
    width: 32px;
    height: 32px;
}

.contact-form input,
.contact-form textarea {
    border: none;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}

.contact-form textarea{
    margin-top: 15px;
}

.contact-form .form-labels input:focus,
.contact-form .form-labels textarea:focus{
    border: none;
    outline: none;
}

.contact-form button {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 0.9rem; 
    font-weight: 600; 
    border-radius: 16px;
    color: #333;
    border: solid 0.5px #333;
    padding: 5px 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #007D7F;
    color: #fff;
}