footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: #fff;
}

footer span{
    color: #007D7F;
    transition: ease-in 0.2s;
    cursor: pointer;
}

footer span:hover{
    color: #747272 ;
}


footer ul li svg{
    transition: ease-in 0.2s;
    color: #007D7F;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

footer ul li svg:hover{
    color: #747272;
}
